.forumMenu{
float:left;
}

.forumDiscussion{
width:800px;
float:right;
max-height:360px;
display:in-line block;
position:static;
max-width: 100%;
}

.col-lg-9 .col-md-9 .col-s-12 .center-block .jumbotron {
    padding-top:0px !important;
    max-height: 360px;
}
@media screen and (max-width: 750px) { /* width at which layout changes  */
  .forumDiscussion {
    //float:none;
    max-width:100%;
    max-height:400px;
    position:static;
    //vertical-align: bottom;
    /* width: 90px; -- set to the smaller value you want */
  }
  .forumMenu{
    vertical-align: top;

  }
}

.responsiveSize{
    margin-left: 150px;
    margin-right: 150px;
}
 #responsiveSize{
    margin:auto;
    width:70%;
 }

@media screen and (max-width: 750px) {
    .responsiveSize{

        margin-left: 60px;
        margin-right: 60px;
        //vertical-align: bottom;


    }
    #responsiveSize{
        //for the textarea in forum
        margin:auto;
        width:80%;
    }



}
